<!--img title="rails" src="uploads/图片/rails.png"  alt="rails"-->

<div class="filemgr-toolbar">
  <button class="filemgr-img-btn" type="button">
    <div class="toolbar-imgs"><img src="/assets/plus.png" ></div>
    新建文件夹
  </button>
  <div class="filemgr-img-btn path-width path-margin">
    <div class="container_18 cf">
      <ol class="file-path grid_18 cf"> 
        <%@path.each do |p|%>                 
        <li><%=p%></li> 
        <%end%>                          
      </ol>
    </div>
  </div>

  <button class="filemgr-img-btn" type="button">
    <div class="toolbar-imgs"><img src="/assets/upload.png" ></div>
    上传文件
  </button>
  <button class="filemgr-img-btn" type="button">
    <div class="toolbar-imgs"><img src="/assets/actions.png" ></div>
    文件操作
  </button>
  
  <div class="search-box">
    <input type="text" class="search-panel">
    <button type="submit" class="submit-btn" value="search">&nbsp;</button>
  </div>

  <div class="data-view">
  <button id="show-list" class="table-view view-selected" style="width:78px" type="button">Table</button>
  <button id="show-grid" class="icon-view" style="width:78px" type="button">Icons</button>
  </div>
</div>
<div class="columns">
	<div class="left">
    <ul id="treeDemo" class="ztree"></ul>
	</div>
	<div class="handler">
	</div>
	<div class="center view-items ui-selectable">
    <%=render :partial => "list" %>
    <%=render :partial => "grid" %>
	</div>
</div>

<div id="rMenu">
	<ul>
		<li id="m_add" onclick="addTreeNode();">增加节点</li>
		<li id="m_del" onclick="removeTreeNode();">删除节点</li>
	</ul>
</div>

<script type="text/javascript">
	
	var setting = {
    view: {
		  showLine: false,
      dblClickExpand: false
		},
		data: {
			simpleData: {
				enable: true
			}
		},
    callback: {
      onRightClick: OnRightClick
    }
	};

  function OnRightClick(event, treeId, treeNode) {
		if (!treeNode && event.target.tagName.toLowerCase() != "button" && $(event.target).parents("a").length == 0) {
			zTree.cancelSelectedNode();
			showRMenu("root", event.clientX, event.clientY);
		} else if (treeNode && !treeNode.noR) {
			zTree.selectNode(treeNode);
			showRMenu("node", event.clientX, event.clientY);
		}
	}

	function showRMenu(type, x, y) {
		$("#rMenu ul").show();
		if (type=="root") {
			$("#m_del").hide();
			$("#m_check").hide();
			$("#m_unCheck").hide();
		} else {
			$("#m_del").show();
			$("#m_check").show();
			$("#m_unCheck").show();
		}
		rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});

		$("body").bind("mousedown", onBodyMouseDown);
	}

	function hideRMenu() {
		if (rMenu) rMenu.css({"visibility": "hidden"});
		$("body").unbind("mousedown", onBodyMouseDown);
	}

	function onBodyMouseDown(event){
		if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
			rMenu.css({"visibility" : "hidden"});
		}
	}

	var addCount = 1;
	function addTreeNode() {
		hideRMenu();
		var newNode = { name:"增加" + (addCount++)};
		if (zTree.getSelectedNodes()[0]) {
			newNode.checked = zTree.getSelectedNodes()[0].checked;
			zTree.addNodes(zTree.getSelectedNodes()[0], newNode);
		} else {
			zTree.addNodes(null, newNode);
		}
	}

	function removeTreeNode() {
		hideRMenu();
		var nodes = zTree.getSelectedNodes();
		if (nodes && nodes.length>0) {
			if (nodes[0].children && nodes[0].children.length > 0) {
				var msg = "要删除的节点是父节点，如果删除将连同子节点一起删掉。\n\n请确认！";
				if (confirm(msg)==true){
					zTree.removeNode(nodes[0]);
				}
			} else {
				zTree.removeNode(nodes[0]);
			}
		}
	}
  
  var zNodes=JSON.parse('<%=raw @docs.to_json %>');
  //alert(zNodes);
	/*var zNodes =[
		{ id:1, pId:0, name:"hello - 展开", open:true},
		{ id:11, pId:1, name:"父节点11 - 折叠"},
		{ id:111, pId:11, name:"叶子节点111"},
		{ id:112, pId:11, name:"叶子节点112"},
		{ id:113, pId:11, name:"叶子节点113"},
		{ id:114, pId:11, name:"叶子节点114"},
		{ id:12, pId:1, name:"父节点12 - 折叠"},
		{ id:121, pId:12, name:"叶子节点121"},
		{ id:122, pId:12, name:"叶子节点122"},
		{ id:123, pId:12, name:"叶子节点123"},
		{ id:124, pId:12, name:"叶子节点124"},
		{ id:13, pId:1, name:"父节点13 - 没有子节点", isParent:true},
		{ id:2, pId:0, name:"父节点2 - 折叠"},
		{ id:21, pId:2, name:"父节点21 - 展开", open:true},
		{ id:211, pId:21, name:"叶子节点211"},
		{ id:212, pId:21, name:"叶子节点212"},
		{ id:213, pId:21, name:"叶子节点213"},
		{ id:214, pId:21, name:"叶子节点214"},
		{ id:22, pId:2, name:"父节点22 - 折叠"},
		{ id:221, pId:22, name:"叶子节点221"},
		{ id:222, pId:22, name:"叶子节点222"},
		{ id:223, pId:22, name:"叶子节点223"},
		{ id:224, pId:22, name:"叶子节点224"},
		{ id:23, pId:2, name:"父节点23 - 折叠"},
		{ id:231, pId:23, name:"叶子节点231"},
		{ id:232, pId:23, name:"叶子节点232"},
		{ id:233, pId:23, name:"叶子节点233"},
		{ id:234, pId:23, name:"叶子节点234"},
		{ id:3, pId:0, name:"父节点3 - 没有子节点", isParent:false,icon:"/assets/zTreeStyle/img/diy/folder_close.png"}
	];*/

  var zTree, rMenu;
	$(document).ready(function(){
		$.fn.zTree.init($("#treeDemo"), setting, zNodes);
    zTree = $.fn.zTree.getZTreeObj("treeDemo");
	  rMenu = $("#rMenu");

    //$('.curSelectedNode').removeClass("curSelectedNode");
    var curr_doc=$('a[data-info=<%=@current_id%>]');
    curr_doc.addClass("curSelectedNode");

		$("#show-grid").click(function(event){
		  event.preventDefault();
		  if(!$("#grid-view").hasClass("active")){
		    $(this).addClass("view-selected");
		    $("#show-list").removeClass("view-selected");
		    $("#grid-view").addClass("active").addClass("in");
		    $("#list-view").removeClass("active").removeClass("in");
		  }
		});

		$("#show-list").click(function(event){
		  event.preventDefault();
		  if(!$("#list-view").hasClass("active")){
		    $(this).addClass("view-selected");
		    $("#show-grid").removeClass("view-selected");
		    $("#list-view").addClass("active").addClass("in");
		    $("#grid-view").removeClass("active").removeClass("in");
		  }
		});

	});
	
/*
var txt = '{ "employees" : [' +  
'{ "firstName":"John" , "lastName":"Doe" },' +  
'{ "firstName":"Anna" , "lastName":"Smith" },' +  
'{ "firstName":"Peter" , "lastName":"Jones" } ]}';  

JSON数据转换为JavaScript对象
obj = JSON.parse(txt); 

JavaScript对象转换为JSON数据
var txt = JSON.stringify(obj); 
*/

jQuery(function($){
  var doc = $(document), dl = $("div.left"), dc = $("div.center");
  var sum = dl.width() + dc.width() + $("div.handler").mousedown(function (e) {
		var me = $(this);
		var deltaX = e.clientX - (parseFloat(me.css("left")) || parseFloat(me.prop("clientLeft")));
		doc.mousemove(function (e){
			var lt = e.clientX - deltaX; 
			lt = lt < 261 ? 261 : lt;
			lt = lt > sum - me.width()-1000 ? sum - me.width()-1000 : lt;
			me.css("left",lt + "px");
			dl.width(lt);
      var left=lt+me.width();
      dc.css("left",left + "px");
			dc.width(sum-lt-me.width()+10);
		});
  }).width();

	doc.mouseup (function(){
		doc.unbind("mousemove");
	});
	doc[0].ondragstart = doc[0].onselectstart = function(){return false;};
	});
</script>

<style type="text/css">
div#rMenu {
  position:absolute; 
  visibility:hidden; 
  top:0; 
  background-color: #555;
  text-align: left;
  padding: 2px;
}

div#rMenu ul li{
	margin: 1px 0;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #DFDFDF;
}
</style>
