<!--img title="rails" src="uploads/图片/rails.png"  alt="rails"-->

<div class="filemgr-toolbar">
  <button class="filemgr-img-btn" type="button">
    <div class="toolbar-imgs"><img src="/assets/plus.png" ></div>
    新建文件夹
  </button>
  <div class="path-box filemgr-img-btn path-width path-margin">
    <div id="path-box" class="container_18 cf">
      <%=render :partial=>"doc_path", :locals=>{:path=> @path}%>
    </div>
  </div>

  <button class="filemgr-img-btn" type="button">
    <div class="toolbar-imgs"><img src="/assets/upload.png" ></div>
    上传文件
  </button>
  <button class="filemgr-img-btn" type="button">
    <div class="toolbar-imgs"><img src="/assets/actions.png" ></div>
    文件操作
  </button>
  
  <div class="search-box">
    <input type="text" class="search-panel">
    <button type="submit" class="submit-btn" value="search">&nbsp;</button>
  </div>

  <div class="data-view">
  <button id="show-list" class="table-view view-selected" style="width:78px" type="button">Table</button>
  <button id="show-grid" class="icon-view" style="width:78px" type="button">Icons</button>
  </div>
</div>
<div class="columns">
	<div class="left">
    <ul id="treeDemo" class="ztree"></ul>
	</div>
	<div class="handler">
	</div>
	<div class="center view-items ui-selectable">
    <div id="list-view" class="fade tab-pane in active">
      <%=render :partial=>"table", :locals=>{:root_arr=> @root_arr}%>
    </div>
    <div id="grid-view" class="fade tab-pane">
      <%=render :partial=>"gridview", :locals=>{:root_arr=> @root_arr}%>
    </div>
	</div>
</div>

<div id="rMenu">
	<ul>
    <li id="m_copy">Copy</li>
    <li id="m_cut">Cut</li>
    <li id="m_paste">Paste</li>
		<li id="m_add" onclick="addTreeNode();">Create Folder</li>
		<li id="m_del" onclick="removeTreeNode();">Delete</li>
    <li id="m_rename" onclick="renameFile();">Rename</li>
    <li id="m_upload">Upload</li>
	</ul>
</div>

<div id="dialog-form" title="Create folder">
  <p id="validate-tips" class="validateTips"></p>
  <form>
    <fieldset>
      <input type="text" name="name" id="name" value="NewFolder" class="text ui-widget-content ui-corner-all">
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<script type="text/javascript">
var docs_json='<%=raw @docs.to_json %>';
var doc_current_id="<%=@current_id%>"
var authenticity_token="<%=form_authenticity_token%>";
</script>
<%= javascript_include_tag "file.manager" %>

<style type="text/css">
div#rMenu:before {
  background: transparent none repeat scroll 0 0;
  border-color: #fff #fff transparent transparent;
  border-style: solid;
  border-width: 6px;
  border-shadow: 1px 0 0 0 #c8c8c8,0 -1px 0 0 #c8c8c8;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: 10px;
  top: -5px;
  width: 0;
  -webkit-transform: rotate(-45deg);/* for Chrome || Safari */
  -moz-transform: rotate(-45deg);/* for Firefox */
  -ms-transform: rotate(-45deg);/* for IE */
  -o-transform: rotate(-45deg);/* for Opera */
  transform: rotate(-45deg); 
  /*whether to take effect or not related to the order of placement*/
}


div#rMenu {
  visibility:hidden; 
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c8c8c8;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  margin-top: 0;
  min-width: 200px;
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 3;
}

div#rMenu ul li{
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #4f7573;
  cursor: pointer;
  display: block;
	margin: 5px 0;
  overflow: hidden;
  padding: 3px 5px 4px;
	list-style: none outside none;
  text-overflow: ellipsis;
  transition: padding 0.15s linear 0s;
  white-space: nowrap;
  width: 100%;
}

div#rMenu ul li#m_paste {
   border-bottom: 1px solid #E1E5E3;
}

div#rMenu ul li.operate-menu-hover{
  background-color: #f5f5f5;
  font-weight: bold;
}

/*
div#rMenu {
  position:absolute; 
  visibility:hidden; 
  top:0; 
  background-color: #555;
  text-align: left;
  padding: 2px;
}

div#rMenu ul li{
	margin: 1px 0;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #DFDFDF;
}
*/

/*dialog-form*/
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
/*dialog-form*/
</style>


